body{
    background-image: url('/assets/images/fondo-inicio.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img{
    margin-top: 60px;
    margin-left: 60px;
    width: 500px;
}

h1{
    color:white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
	font-size: 90px;
    padding-left: 240px;
}